.wrapper
  = render 'devise/shared/side_bar'
  .right-contents
    .right-contents__header
      .right-contents__header__box
        .right-contents__header__box__group
          %p.right-contents__header__box__group__name
            = @group.name
          %ul.right-contents__header__box__group__members
            %li.right-contents__header__box__group__members__member<>
              %p.right-contents__header__box__group__members__member__name Member :
            - @group.users.each  do |user|
              %li.right-contents__header__box__group__members__member<>
                %p.right-contents__header__box__group__members__member__name
                  =user.name
        .right-contents__header__box__edit
          =link_to "Edit", edit_group_path(@group), class:"right-contents__header__box__edit__btn"
            

    .right-contents__messages
      %ul.right-contents__messages__list
        = render partial: 'message', collection: @messages

    .form
      = form_for [@group,@message] , html: {class: "new__message"} do |f|
        = f.text_field :content, class: "new__message__input__text", placeholder: "type a message"
        .form__mask
          = f.label :image, class: "new__message__input__image" do
            = fa_icon "image" , class: "new__message__input__image__icon"
            = f.file_field :image, class: "new__message__input__image__file"
        = f.submit "Send", class: "new__message__submit-btn"
